.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 140px;
    padding-left: 140px;
    height: 80px;
}
.header a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
   margin-left: 30px;
}
.header a:hover{ 
   color: orange; 
}
